/* You can add global styles to this file, and also import other style files */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-button {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: #c0c0c0;
    border: 0px none #ffffff;
    border-radius: 8px;
    &:hover{
        background: #cccccc;
    }
    &:active{
        background: #888888;
    }
}
::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 0px;
    &:hover{
        background: #666666;
    }
    &:active{
        background: #333333;
    }
}
::-webkit-scrollbar-corner {
    background: transparent;
}
